html, body {
  scroll-behavior: smooth;
  padding: 0;
  margin:0;
}
.logo-container {
float: left;
color: white;
border-radius: 0 0 20px 20px;
background: red;
height: 60px;
padding: 10px;
margin-top:-2px;
}
 .navbar {
border:  1px solid transparent;
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #113032;
  font-size: -20px;
}
header{
  background: url("https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size:cover;
  background-position: 0;
  height:650px;
  background-color: #919191;

}
.navbar-container {
  display: inline-block;
  float: right;

}
ul li {
  display: inline-block;
margin: 12px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: -30px;

}
ul li a {
  text-decoration: none;
  color: #34495E;
}

.agency span {
  color: red;
}
.agency{
  text-align: left;
  padding: 50px;
  margin-top: 100px;
  margin-left: -50px;
  font-weight: bold;
}
  .button {
    border-color:red;
}
.grid-container {
  display: grid;
  margin-top: 100px;
  justify-content:center;
  grid-template-columns: auto auto auto;
}
.grid-item {
 padding: 20px;
  font-size: 20px;
  text-align:left;
  height: 300px;
 text-transform: capitalize;
}
.agency h1 {
  color:#113032;
}
.agency button{
  background: #ff0000;
  border-color: #ff0000;
  color: white;
  width: 140px;
  height: 60px;
  font-weight: bold;
}
.grid-item button {
background-color: white;
color: red;
}
.contents h1 {
  margin-right: 20px;
  padding-left: 30px;
}
.navbar-container a:hover {
  color:#fb8596;
}
.home img {
  height: 300px;
}
#port {
  display: grid;
  margin-top: 100px;
  justify-content: center;
  grid-template-columns: auto auto;
}
.Portfolio {
  float: left;
  text-transform: capitalize;
  font-size: 20px;
  padding-left: -200px;
  margin-left: -200px;
  margin-top: -30px;
  text-align: left;
}
.home {
  float: left;
  padding-right: 300px;
  display: inline-block;
}
.P {
  background-color: #ff0000;
  color: #ff0000;
  font-weight: bold;
}
.grid-item span {
background-color: white;
color: red;
}
.Portfolio span {
  background-color: white;
  color:red;
}
.grid-container span {
  color: #ff0000;

}
